@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(244, 186, 173);
    font-size: 12px;
    
}
h3{
    text-align: center;
    color: rgb(44, 42, 40);
    font-family: 'Mooli', sans-serif;
}
h1{
    text-align: center;
    font-family: 'Mooli', sans-serif;
    margin: 50px;
   
   }
textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Mooli', sans-serif;
}
/* button */
.button-container{
    text-align: center;
    margin: 20px;
    padding:0 10px 0 10px ;
}


button{
    display: inline-block;
    padding:10px;
    margin: 10px;
    background-color: rgb(218, 125, 214);
    color: aliceblue;
    border-radius: 20px;
    cursor: pointer;
}
.copy-text-button{
    padding: 12px;
}
.checkButtonr{
    padding: 12px;
}
button:focus,button:hover{
    background-color: rgb(185, 132, 236);
    
}

/* results div */
.results{

}